body {
  background-color: burlywood;
}

.title { 
  font-family:"Copperplate Gothic Light"; 
  font-size: 70px;
  text-decoration: underline;
}

.column1 {
  float: left;
  text-align: center;
  width: 30%;
  background-color: cornsilk;
  border: 5px solid darkred;
  margin-right: 35px;
}

.column2 {
  float: left;
  text-align: center;
  width: 30%;
  background-color: honeydew;
  border: 5px solid darkred;
  margin-right: 35px;
}

.column3 {
  float: left;
  text-align: center;
  width: 30%;
  border: 5px solid darkred;
  background-color: darkgrey;
}

.before {
  height: 250px;
  width: 300px;
}

.during {
  height: 250px;
  width: 300px;
}

.after {
  height: 250px;
  width: 350px;
}

img {
  border-width: 10px;
}